# Rename to .env and write down valid username and path to keyring key !!!

KEYPATH = ''
UGUSER = ''
UGSERVER = '' # Единичный Usergate для выгрузки/загрузки правил ug-read - ug-write
UGSERVERS = '' # Example: '192.168.0.1, 192.168.0.2' Список Usergate для скрипта интеграции с CBase

DBUSER = ''
DBNAME = ''

CISCOUSER = ''
ASALIST = '' # Example: '192.168.0.1, 192.168.0.2'